body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: rgb(91, 168, 193);
	width: 100%;
	height: 100%;
	min-height: 770px;
  position: relative;
}

button {
  margin-left: 50px;
}

.balance-display {
  height: 35px;
  width: 120px;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  margin-left: 70%;
  margin-top: 13%;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
   border: solid #c2c2c2 4px;
}

.balance-text {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: rgb(163, 210, 3);
}

.coins-box {
  width: 200px;
  height: 300px;
  margin-left: 60%;
  margin-top: 3%;

}

.choice {
  background-color: black;
  color: white;
  height: 35px;
  width: 120px;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  margin-left: 47%;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
   border: solid #c2c2c2 4px;
   margin-top: 3%;
}

.display {
  position: absolute;
  top: 60px;
  left: 5%;
  height: 520px;
  width: 300px;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  perspective: 300px;
}

.machine {
  position: absolute;
  top: 200px;
  left: 37%;
  width: 500px;
  height: 700px;
  background-color: rgb(247, 184, 89);
  border-radius: 40px;
  perspective: 300px;
}
.get-balance-form {
  position: absolute;
  bottom: 0;
  left: 50%;

  margin: -70px 0 0 -170px;
  background-color: rgb(247, 184, 89);
}


.push {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 48;
    -moz-border-radius: 48;
    border-radius: 48px;
    -webkit-box-shadow: 0px 8px 0px #000000;
    -moz-box-shadow: 0px 8px 0px #000000;
    box-shadow: 0px 8px 0px #000000;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 15px 7px 17px;
    border: solid #1f628d 8px;
    text-decoration: none;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 280%;
    margin-bottom: 135%;
    outline: none;
}

.push:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: -moz-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: -ms-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: -o-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: linear-gradient(to bottom, #3cb0fd, #040a0f);
    text-decoration: none;
    -webkit-box-shadow: 0px 4px 0px #000000;
    -moz-box-shadow: 0px 4px 0px #000000;
}

.coke {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: #d93434;
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}


.coke:hover {
  background: #67965c;
  text-decoration: none;
}

.coinValue {
  color: #1d1d1d;
  font-weight: bold;
}

.coin.bronze {
  color: rgba(223,182,103,1);
  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
}

.coin.bronze:before{
  background: linear-gradient(135deg,  #d19c35 0%,#f7e6c5 50%,#e8b558 100%);
  border: 1px solid #e6b86a;
  }

.coin.bronze:after {
  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(209,156,53,0.3);
  border-right: 1px solid rgba(209,156,53,0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, .05);
}

.coin.bronze:hover:after{
  background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 41%,rgba(231,192,116,1) 96%);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(209,156,53,0.3);
  border-right: 1px solid rgba(209,156,53,0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, .05);
}

.coin.silver{
  background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
  }

.coin.silver:before{
  background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
  border: 1px solid rgba(181,181,181,1);
  }


.coin.silver:after{
  background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(160,160,160,0.3);
  border-right: 1px solid rgba(160,160,160,0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
  }

.coin.silver:hover:after{
  background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 38%,rgba(232,232,232,1) 96%);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(160,160,160,0.3);
  border-right: 1px solid rgba(160,160,160,0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
  }

.coin.gold{
background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
}

.coin.gold:before{
  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
  border: 1px solid rgba(242,215,12,1);
  }


.coin.gold:after{
  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(242,215,12,0.3);
  border-right: 1px solid rgba(242,215,12,0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
  }

.coin.gold:hover:after{
  background: linear-gradient(45deg,  rgba(242,215,12,1) 3%,rgba(255,255,255,1) 39%,rgba(252,235,0,1) 100%);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-left: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(242,215,12,0.3);
  border-right: 1px solid rgba(242,215,12,0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
  }

.coin {
  cursor: pointer;
  content: "";
  width: 52px;
  height: 52px;
  : inline-block;
  position: relative;
  margin: 5px;
  top: 6px;
  border-radius: 50px;
  z-index: 500;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
}

.coin p{
  font-family: georgia;
  font-style: italic;
  position: absolute;
  font-size: 28px;
  z-index: 700;
  top: -19px;
  left: 19px;
  }

.coin.bronze p{  color: rgba(223,182,103,1);}
.coin.silver p{  color: rgba(160,160,160,1);}
.coin.gold p{  color: rgba(242,215,50,1);}

.coin{
  cursor: pointer;
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: relative;
  margin: 5px;
  top: 6px;
  border-radius: 50px;
  z-index: 500;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  outline: none;
  }

.coin:after{
  content: "";
  width: 42px;
  height: 42px;
  display: block;
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 50px;
  z-index: 600;
  }
/*
.coin:before{
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 50px;
  z-index: 500;
  } */

.coin:hover{
  top: -1px;
  transition: all .5s ease-in-out;
  box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, .2);
  }

.price {
  color: #d1d1d1;
  font-size: 20px;
  margin: 5px;
  float: left;
}
.pepsi {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: rgb(0, 0, 0);
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.pepsi:hover {
  background: #67965c;
  text-decoration: none;
}

.soda {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: rgb(136, 134, 136);
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.soda:hover {
  background: #67965c;
  text-decoration: none;
}

.water {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: rgb(103, 187, 201);
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.water:hover {
  background: #67965c;
  text-decoration: none;
}

li {
  list-style-type: none;
}
