body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: rgb(91, 168, 193);
	width: 100%;
	height: 100%;
	min-height: 770px;
  position: relative;
}

button {
  margin-left: 50px;
}

.coins {
  width: 200px;
  height: 300px;
  margin-left: 60%;
  margin-top: 40%;
}

.display {
  position: absolute;
  top: 60px;
  left: 5%;
  height: 550px;
  width: 300px;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
  perspective: 300px;
}

.machine {
  position: absolute;
  top: 200px;
  left: 37%;
  width: 500px;
  height: 700px;
  background-color: rgb(247, 184, 89);
  border-radius: 40px;
  perspective: 300px;
}
.get-balance-form {
  position: absolute;
  bottom: 0;
  left: 50%;

  margin: -70px 0 0 -170px;
  background-color: rgb(247, 184, 89);
}


.push {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 48;
    -moz-border-radius: 48;
    border-radius: 48px;
    -webkit-box-shadow: 0px 8px 0px #000000;
    -moz-box-shadow: 0px 8px 0px #000000;
    box-shadow: 0px 8px 0px #000000;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 15px 7px 17px;
    border: solid #1f628d 8px;
    text-decoration: none;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 240%;
    margin-bottom: 100%;
    outline: none;
}

.push:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: -moz-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: -ms-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: -o-linear-gradient(top, #3cb0fd, #040a0f);
    background-image: linear-gradient(to bottom, #3cb0fd, #040a0f);
    text-decoration: none;
    -webkit-box-shadow: 0px 4px 0px #000000;
    -moz-box-shadow: 0px 4px 0px #000000;
}

.coke {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: #d93434;
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.coke:hover {
  background: #67965c;
  text-decoration: none;
}
p {
  color: #d1d1d1;
  font-size: 20px;
  margin: 5px;
  float: left;
}
.pepsi {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: rgb(0, 0, 0);
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.pepsi:hover {
  background: #67965c;
  text-decoration: none;
}

.soda {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: rgb(136, 134, 136);
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.soda:hover {
  background: #67965c;
  text-decoration: none;
}

.water {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  background: rgb(103, 187, 201);
  padding: 13px 20px 13px 22px;
  border: solid #1f628d 0px;
  text-decoration: none;
  margin-top: 20%;
  outline: none;
}

.water:hover {
  background: #67965c;
  text-decoration: none;
}

li {
  list-style-type: none;
}
